* {
    font-family: 'Roboto' , sans-serif;
}
header{
    height: 50px;
    background-color:#212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px ;
}
.menu .menu_link{
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_link{
    border-right:2px dotted black;
    padding-right: 28px;
}
.subheader{
    height: 84px;
    background-color:rgba(0,0,0, .6) ;
}
.subheader .subheader_call {
    
    margin-top: 18px;
    font-weight: 300;
    font-size: 12px;

    /* identical to box height, or 117% */
    
    text-align: right;
    
    color: #FFFFFF;
    }
    .subheader .subheader_phone {
        display: block;
        margin-top: 9px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        line-height: 12px;
        /* identical to box height, or 309% */
        text-align: right;

    
        text-transform: uppercase;
        
        color: #FFFFFF;
        }
        .subheader .subheader_btn {
            margin-top: 19px;
            width: 172px;
            height: 46px;

            background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 46px;
            text-transform: uppercase;

color: #FFFFFF;

text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);

}
.promo {
    min-height: 800px;
    background: url(../img/uber_bg.png) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    
    color: #FFFFFF;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    
    color: #FFFFFF;
}
.promo .promo_descr{ 
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}
.promo .promo_btn{
    display:block;
    width: 259px;
    height: 63px;

    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
        
    text-align: center;
    text-transform: uppercase;
    margin: 118px auto 0 auto;
    color: #FFFFFF;
    border: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.reasons{
    padding: 71px 0 65px 0;
}
.label {
    margin: 0 auto;
    background-color: #000;
    padding: 5px 12px;
    height: 24px;
    width: 112px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.title { 
    margin-top: 38px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.reasons .reasons_block {
    display: flex;
    justify-content:center ;
    text-align: left;
    margin-top:30px ;
}
.reasons .reasons_block .reasons_round{
    align-items: center;
    display: flex;
    justify-content:center ;
    margin-top:26px;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius:100%;
}
.reasons .reasons_block .reasons_descr {
    width: 360px; ;
}
.reasons .reasons_block .reasons_descr .reasons_subtitle{
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
    font-weight: 400;
}
.reasons .reasons_block .reasons_descr .reasons_text{
    font-size: 15px;
    line-height: 21px;
    color: #222222;
    font-weight: 300;
}

